PROJECT

In [1]:
Define a dataframe named 'Bank_df_1' that contains the first and last names for 5 bank clients with IDs = 1, 2, 3, 4, 5
Assume that the bank got 5 new clients, define another dataframe named 'Bank_df_2' that contains a new clients with IDs = 6, 7, 8, 9, 10
Let's assume we obtained additional information (Annual Salary) about all our bank customers (10 customers)
Concatenate both 'bank_df_1' and 'bank_df_2' dataframes
Merge client names and their newly added salary information using the 'Bank Client ID'
Let's assume that you became a new client to the bank
Define a new DataFrame that contains your information such as client ID (choose 11), first name, last name, and annual salary.
Add this new dataframe to the original dataframe 'bank_df_all'.

SyntaxError: invalid syntax (<ipython-input-1-7330debd0022>, line 1)

In [ ]:
#I'm going to start off by defining the 'Bank_df_1' dataframe
import pandas as pd #importing pandas and aliasing it as pd 

Bank_df_1 = pd.DataFrame({'First Name':['Mohamed','Sadio','Roberto','Gini','Jordan'],
                          'Last Name':['Salah','Mane','Firmino','Wijnaldum','Henderson'],
                          'Bank Client ID':[1,2,3,4,5]}) #I'm actually not going to specify an index right now, we'll fix that later on with index = True
Bank_df_1

In [ ]:
#defining the second dataframe 'Bank_df_2'

Bank_df_2 = pd.DataFrame({'First Name':['Virgil','Trent','James','Alisson','Diogo'],
                          'Last Name':['Van Dijk','Alexander-Arnold','Milner','Becker','Jota'],
                          'Bank Client ID':[6,7,8,9,10]})
Bank_df_2

In [ ]:
concat_df = pd.concat([Bank_df_1,Bank_df_2],axis=0)
concat_df

I wanted to keep going with the Liverpool theme, and I want this mini-project to have realistic touches so I'm going
to actually pull real data about the annual salaries of these players from a credible source: https://lfcglobe.co.uk/liverpool-fc-players-wages-contract-details/. I'll manually input the information, but I'll create another project that I'll import all of the necessary modules and actually web-scrape the data.

In [ ]:
#Going to implement data from the url so I can read it here
#'Bank Client ID' will be the foreign Key that'll allow us to later on merge tables

Bank_df_3 = pd.DataFrame({'Bank Client ID':[1,2,3,4,5,6,7,8,9,10],
                         'Annual Salary £':[10400000,5200000,9360000,4680000,7280000,9360000,3120000,7280000,7800000,4680000]})
Bank_df_3

In [ ]:
#Time to merge Bank_df_3 to concat_df
new_bank_df = concat_df.merge(Bank_df_3, how = 'inner', on = 'Bank Client ID')
new_bank_df

#I think inner is the default anyway, but I'll keep specifying for good practice

In [ ]:
new_client = pd.DataFrame({'First Name':['Samantha'],
                          'Last Name':['Menyah'],
                          'Bank Client ID':[11],
                          'Annual Salary £':[75000]})
new_client

In [ ]:
#Add this new dataframe to the original dataframe 'bank_df_all'
bank_df_all = pd.concat([new_bank_df,new_client], ignore_index = True) #used ignore_index so the indexes match
bank_df_all

#FINISHED